html {
    margin: 0;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.main-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #1f2937;
    height: 100px;
}

.image {
    display: flex;
    align-items: center;
    background-color: grey;
    width: ;
}

.title {
    font-size: 24px;
}

.header {
    color: white;
    padding-left: 60px;
    padding-top: 15px;
}

.links {
    display: flex;
    padding-right: 60px;
    padding-top: 15px;
    gap: 20px;
    color: whitesmoke;
}

.subheader {
    color: white;
    background-color: #1f2937;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
}

.alltext {
}

