html {
    margin: 0;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.main-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: #1f2937;
    height: 100px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 200px;
    padding-right: 60px;
    padding-left: 60px;
    width: 400px;
}

.title {
    font-size: 24px;
}

.header {
    color: white;
    padding-left: 233px;
    padding-top: 15px;
}

.links {
    display: flex;
    font-size: 12px;
    padding-right: 172px;
    padding-top: 15px;
    gap: 20px;
    color: rgb(185, 185, 185);
}

.subheader {
    color: white;
    background-color: #1f2937;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.alltext {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    padding-left: 60px;
    width: 300px;
    max-width: 300px;
    flex: 1;
}

button {
    background-color: #3882f6;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

.signup1 {
    margin-top: 8px;
    margin-left: 12px;
}

.subtitle {
    color: rgb(185, 185, 185);
}